<div class="container-image">
  <%= image_tag("devise_image.png", :alt => "Logo devise", :class => "devise_image") %>
  <div class="texts">
    <div class="principal">
      <h2>Revele seu potencial</h2>
      <h2>para as empresas</h2>
    </div>
    <strong>Pode ser hoje.</strong>
    <strong>É online.</strong>
    <strong>É Revelo.</strong>
  </div>
</div>