<div class="social_media">  
  <div class="linkedin">
    <button><%= t('devise.actions.linkedin') %></button>
  </div>

  <div class="google">
    <button><%= t('devise.actions.google') %></button>
  </div>
</div>

<%- if controller_name != 'sessions' %>
  <p>Já tem conta? <%= link_to "Acessar", new_session_path(resource_name) %></p>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p>É novo por aqui? <%= link_to t('devise.actions.sign_up'), new_registration_path(resource_name) %></p>
<% end %>
